legacy-peer-deps=true
engine-strict=false
resolve-consistent-versions=false
save-exact=true
exact=true
prefer-offline=true
fund=false
audit=false
loglevel=error
lockfile=true
package-lock=true
react@18.2.0
react-dom@18.2.0 